@charset "UTF-8";

@font-face {
  font-family: "NextartBold";
  font-display: swap;
  src: url("../fonts/NEXTARTBold.woff") format("woff"), url("../fonts/NEXTARTBold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Lato";
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Конец обнуления--------------------*/

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.menu__list {
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0 100px;
}

.menu__list li:nth-child(1):before {
  content: "";
  display: inline-block;
  height: 100px;
  width: 80px;
  position: absolute;
  background-image: url("../img/icons/aicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: -50px;
  left: 0;
}

.menu__list li:nth-child(1):after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/icons/boxicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px;
  height: 43px;
  top: -20px;
  right: -30px;
}

.menu__list li:nth-child(3):after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/icons/rohlaicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 87px;
  height: 108px;
  top: -50px;
  left: -50px;
}

.menu__list li:nth-child(4):before {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../img/icons/track.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 377px;
  height: 371px;
  top: -65px;
  left: -203px;
  display: block;
  z-index: -1;
}

.menu__list li:nth-child(4):after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../img/icons/bicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 80px;
  top: -50px;
  left: 260px;
}

.menu__link {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.6px;
  color: #4d4959;
  text-transform: uppercase;
}

.header__body {
  position: relative;
}

.header__leftbar {
  position: absolute;
  left: 20px;
  top: 30px;
}

.header__container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  top: 200px;
}

.header__selim {
  max-height: 633px;
}

.header__text {
  padding-top: 250px;
  padding-left: 30px;
  font-size: 40px;
  font-family: NextArtbold;
  text-align: center;
}

.header__text1 {
  padding-top: 20px;
}

.header__text1:before {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/Line1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 580px;
  height: 300px;
  z-index: -1;
  top: 310px;
  left: 250px;
}

.header__text2 {
  padding-top: 40px;
}

.header__text2:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/Line2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 250px;
  top: 270px;
  left: 1080px;
  z-index: -1;
}

.header__skobki {
  display: block;
  margin-bottom: -40px;
  margin-left: 0px;
}

.header__anton {
  color: #FEBD33;
}

.header__cepi {
  color: #FEBD33;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0 20px 0;
    transform: translateY(-100%);
  }

  .menu__body.active {
    transform: translateY(0%);
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu__list li {
    padding: 0 0 45px 0;
  }

  .menu__list li:nth-child(2),
  .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }

  .menu__list li:nth-child(2):after,
  .menu__list li:nth-child(3):after {
    display: block;
  }

  .menu__list li:last-child {
    padding: 0;
  }

  .menu__link {
    color: white;
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span:first-child {
    top: 8px;
  }

  .icon-menu.active span:last-child {
    bottom: 8px;
  }
}

@media (max-width: 434px) {
  .header__selim {
    max-height: 450px;
  }

  .header__text {
    font-size: 20px;
    padding-top: 0px;
  }

  .header__skobki {
    margin-bottom: -20px;
  }
}

.webp .menu__list li:nth-child(1):before{ background-image: url(../img/icons/aicon.webp); }

.webp .menu__list li:nth-child(1):after{ background-image: url(../img/icons/boxicon.webp); }

.webp .menu__list li:nth-child(3):after{ background-image: url(../img/icons/rohlaicon.webp); }

.webp .menu__list li:nth-child(4):before{ background-image: url(../img/icons/track.webp); }

.webp .menu__list li:nth-child(4):after{ background-image: url(../img/icons/bicon.webp); }

.webp .header__text1:before{ background-image: url(../img/Line1.webp); }

.webp .header__text2:after{ background-image: url(../img/Line2.webp); }
